version: 2.1

jobs:
  build:
    machine: true
    parameters:
      docker_source_tag:
        type: string
    environment:
      DOCKER_SOURCE_TAG: <<parameters.docker_source_tag>>
    steps:
      - checkout
      - run:
          name: Build image
          command: make build
      - run:
          name: Test image
          command: make test
      - run:
          name: Push image on main branch
          command: |
            [[ "$CIRCLE_BRANCH" == "main" ]] && \
                make push || \
                echo "Not pushing, because current branch is not 'main'"
  post_process:
    machine: true
    steps:
      - checkout
    #   - run:
    #       name: Test image
    #       command: make test
      - run:
          name: Push README do docker hub
          command: |
            [[ "$CIRCLE_BRANCH" == "main" ]] && \
                make push_readme_to_dockerhub || \
                echo "Not pushing, because current branch is not 'main'"

workflows:
  default:
    jobs:
      - build:
          matrix:
            parameters:
              docker_source_tag:
                - "16.3"
                - "16.3-browsers"
                - "16.2"
                - "16.2-browsers"
                - "14.17"
                - "14.17-browsers"
      - post_process:
          requires:
            - build
  scheduled:
    jobs:
      - build:
          matrix:
            parameters:
              docker_source_tag:
                - "16.3"
                - "16.3-browsers"
                - "16.2."
                - "16.2-browsers"
                - "14.17"
                - "14.17-browsers"
      - post_process:
          requires:
            - build
    triggers:
      - schedule:
          cron: "0 0 1 * *"
          filters:
            branches:
              only:
                - main
