version: 2.1
jobs:
  build:
    machine: true
    environment:
      DOCKER_SOURCE_TAG: 16.2
    steps:
      - checkout
      - run:
          name: Build image
          command: make build
      - run:
          name: Test image
          command: make test
      - run:
          name: Push image on main branch
          command: |
            [[ "$CIRCLE_BRANCH" == "main" ]] && ( \
                    docker login --username $DOCKER_USER --password $(echo "$DOCKER_PASSWORD") && \
                    make push \
                ) || echo "Not pushing, because curret branch is not 'main'"
