version: 2.1
jobs:
  build:
    machine:
      image: "ubuntu-2004:202104-01"
    steps:
      - checkout
      - run:
          name: Build image
          command: make build
      - run:
          name: Test image
          command: make test
      - run:
          name: Push image if on a 'tag-*' branch
          command: |
            [ ! -z "$CIRCLE_BRANCH" ] && DOCKER_IMAGE_TAG=$(echo $CIRCLE_BRANCH | sed "s/^tag-//") make push
